# Object files
*.o
*.ko
*.obj
*.elf

# Alloy executables
main
main.o
main.exe

# Precompiled headers
*.gch
*.pch

# Emacs
\#*\#

# Libraries
*.lib
*.a
*.la
*.lo

# Alloy specific things
_gen_*.c
_gen_*.h
main			# default build name
tests/*.test

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Eclipse
.settings
.cproject
.project

# Floo
.floo
.flooignore

# Binaries
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/alloyc

# Other
builds/
*~
.DS_Store
*.swp
*.swo
*.dSYM
*sublime-*
*.stackdump