language: c

compiler:
 - gcc
 - clang

before_install:
 - sudo apt-add-repository -y 'deb http://llvm.org/apt/precise/ llvm-toolchain-precise-3.5 main'
 - sudo apt-add-repository -y 'deb http://ppa.launchpad.net/ubuntu-toolchain-r/test/ubuntu precise main'
 - sudo apt-get update -qq
 - sudo apt-get install -y --force-yes liblua5.1-0 clang-3.5 libclang-common-3.5-dev libclang-3.5-dev libclang1-3.5 libclang1-3.5-dbg libllvm3.5 libllvm3.5-dbg llvm-3.5 llvm-3.5-dev llvm-3.5-runtime
 - wget http://mirrors.kernel.org/ubuntu/pool/universe/p/premake4/premake4_4.3+repack1-2_amd64.deb
 - sudo dpkg -i ./premake4_4.3+repack1-2_amd64.deb
 - rm -v ./premake4_4.3+repack1-2_amd64.deb

script: ./.travis.sh

notifications:
    email: false

deploy:
    provider: releases
    skip_cleanup: true
    api_key:
        secure: GN+DA/sFpSo5wEAOI/DWintVrMgPZ6F4t1FlZqHEjxp/qU6rpuYtvcs56TahgSbPWuo2CHw4q/fQkElJDTysqrZG3H8AkdiRu/7bvJNyvJsbPjArKW8pOw531Y6fvjsuxSLoKZoFtmbE93HLJQvoBiaxo6pGOmR+lA39XnSHfgQ=
    file: alloyc-linux
    on:
        tags: true
        all_branches: true
        repo: alloy-lang/alloy
